{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Welcome to HoodWatch</h1>
    <div class="row">
        <div class="col-md-4">
            {% for hood in all_hoods %}
            <div class="card">
                <img src="{{ hood.logo.url }}" class="card-img-top" alt="{{ hood.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ hood.name }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}