<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Hood Watch</h3>
        <strong><i class="fas fa-home"></i></strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#">
                <i class="fas fa-user"></i>
                &nbsp; Profile
            </a>

            <ul class="collapse list-unstyled" id="pageSubmenu">

            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-home"></i>
                &nbsp; Hoods
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-paper-plane"></i>
                Contact
            </a>
        </li>
    </ul>
</nav>